<nb-card status="info" class="shadow btn-type-bg">
  <nb-card-header>
    <h1 style="color:#fff">{{headerText}}</h1>
  </nb-card-header>
  <nb-card-body>
    <div class="lot-type-btn">
      <button class="btn btn-general btn-hero" type="button" (click)="general()">General</button>
      <button class="btn btn-dis" type="button">สำหรับผู้พิการ</button>
      <button class="btn btn-vip" type="button">VIP</button>
    </div>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-4">
    <nb-card size="'medium'" status="danger" class="shadow" style="width:100%;">
      <nb-card-header style="text-align:center;color: #fff">กติกาของคนจริง</nb-card-header>
      <nb-card-body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nobis illo quas deleniti doloribus error nemo maxime. Nulla velit, doloremque molestias laudantium possimus eos accusantium! Facilis tenetur nisi enim voluptas!
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-8">
    <nb-card size="'medium'" class="shadow">
      <nb-card-header style="text-align:right">
        {{displayDate}}
        <hr style="width:100%;height:0.1rem;background-color:#ba7fec">
      </nb-card-header>      
      <nb-card-body>
        <div class="row">
          <div class="col-md-4"><h5>General</h5></div>
          <div class="col-md-4"><b>ว่าง: </b> 15</div>
          <div class="col-md-4"><b>ไม่ว่าง: </b> 200</div>
        </div>
        <div class="row">
          <div class="col-md-4"><h5>สำหรับผู้พิการ</h5></div>
          <div class="col-md-4"><b>ว่าง: </b> 15</div>
          <div class="col-md-4"><b>ไม่ว่าง: </b> 200</div>
        </div>
        <div class="row">
          <div class="col-md-4"><h5>VIP</h5></div>
          <div class="col-md-4"><b>ว่าง: </b> 15</div>
          <div class="col-md-4"><b>ไม่ว่าง: </b> 200</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
