$lot-type-btn-width : 129px;
$lot-type-btn-height : 42px;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
0 2px 4px 0 rgba(0, 0, 0, 0.08);

.lot-type-btn {
  text-align: center;
  //margin-bottom: 2rem;
}

.lot-type-btn button {
  margin-left: 0.8rem;
}

/* lot type button */
.btn-general {
  background-color: #40dc7e;
  width: $lot-type-btn-width;
  height: $lot-type-btn-height;
  // background-image: linear-gradient(to right, #40dcb2, #40dc7e);
}

.btn-dis {
  background-color: #4ca6ff;
  width: $lot-type-btn-width;
  height: $lot-type-btn-height;
  // background-image: linear-gradient(to right, #4cc4ff, #4ca6ff);
}

.btn-vip {
  background-color: #ffa100;
  width: $lot-type-btn-width;
  height: $lot-type-btn-height;
  // background-image: linear-gradient(to right, #ffcc00, #ffa100);
}

.btn-general:hover,
.btn-dis:hover,
.btn-vip:hover {
  opacity: 0.8;
}

.shadow {
  box-shadow: $shadow;
}

.text-center {
  text-align: center;
}

.white-text {
  color: #fff;
}

.headerText {
  color: #fff;
  text-align: center;
}

.card-title {
  // width: 220px;
  margin-bottom: 1rem;
  height: 140px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.lot-type {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../../assets/images/bg-header.jpg");
}

.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 820px;
  align-items: center;
}

// .general-card .card__img,
// .general-card .card__img--hover {
//   background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
// }
.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url('https://images.unsplash.com/photo-1470224114660-3f6686c562eb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f12900abf1c6ba142b664bc2aa2b8470&auto=format&fit=crop&w=675&q=80');
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url('https://images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&s=c14ecd092747c14dbbb73d712c5865f8&auto=format&fit=crop&w=1350&q=80');
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url('https://images.unsplash.com/photo-1524513017549-db6af445c34a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a6887004bd8e1388c7beab2ac48def46&auto=format&fit=crop&w=2020&q=80');
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.lot-type-card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.lot-type-card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.10, 1.10);
}

.lot-type-card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.lot-type-card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.lot-type-card:hover .card__info-hover {
  opacity: 1;
}

.card__info {
  z-index: 2;
  background-color: #40dc7e;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #fff;
}

.general-card {
  background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

// .btn-type-bg {
//   // background-image: url("https://images.unsplash.com/photo-1532217635-b45271b1aab6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57357fbad9440abd8d00c56b79ce43c4&auto=format&fit=crop&w=800&q=80");
//   background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)) ,
//     url("../../../assets/images/bg-header.jpg");
//   object-fit: scale-down;
// }


.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}


.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.box-center {
  margin: auto;
}

.movie_card{
  position: relative;
  display: block;
  // width: 800px;
  // height: 350px;
  // margin: 80px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  // &:hover{
  //   transform: scale(1.02);
  //   box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
  //   transition: all 0.4s;
  // }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        color: black;
        font-weight: 400;
      }
      h4{
        color: #555;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type{
        display: inline-block;
        color: #959595;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 50%;
      .text{
        color: #545454;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(0,0,0,0.7);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie_header{
    // width: 65%;
  }
  
  .movie_desc{
    // width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #fff .5%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }

  .movie_card_header {
    background: url("../../../assets/images/parking-lot.jpg");
    height: 10%;
  }

  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    // width: 100%;
    // margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, #fff 50%, transparent 100%);
    display: inline-grid;
  }
}


.parking_bg {
  background: url("../../../assets/images/parking-lot.jpg");
}

.parking_bg_header {
background: url("../../../assets/images/bg-header.jpg");
}

.btn-type-bg {
  padding: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../../assets/images/bg-header.jpg");
  object-fit: scale-down;
}

// div img {
//   //object-fit: scale-down;
//   width: 100%;
// }

input[type="text"],input[type="date"] {
  display: block;
  margin: 1rem auto;
  outline: none;
  border-radius: 0.17rem;
  font-size: 1rem;
  padding: 0.75rem 1.125rem;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #dadfe6;
  color: #181818;
  //border: none;
}

input[type="text"]:focus,input[type="date"]:focus {
  border: 2px solid #fff;
  border-bottom: 2px solid #006eff;
  transition: 0.4s;
}

button[type="button"] {
  float: right;
}
