<div class="bg-landing"></div>
<div class="wrapper landing-content">
  <div class="nav">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <!-- LOGO -->
          <img src="../../../assets/img/central-text-logo.png" alt="Central Plaza">
        </div>
      </div>
      <div class="col-md-6">
        <div class="menu">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Contact</a></li>
            <li><a (click)="signup()">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>Central Plaza Parking Reserved</h1>
    <p>Central Plaza Chaengwattana</p>
    <!-- <button type="button" (click)="dashboard()"></button> -->
    <button type="button" (click)="login()">ทำการจอง</button>
    <!-- <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode> -->
  </div>
</div>

<!-- <h1>Landing Page</h1>
<div>
  <div>
        <button class="btn btn-primary" type="button" (click)="dashboard()">dashboard</button>
      </div>
  <div>
    <button class="btn btn-danger" type="button" (click)="login()">Login</button>
  </div>
  <div>
    <button class="btn btn-success" type="button" (click)="signup()">Register</button>
  </div>
  <div>
            <button class="btn btn-warming" type="button" (click)="forgot()">forgot</button>
          </div>
</div> -->
