//@import '../cp002/cp002.component.scss';
@import '../cp003/cp003.component.scss';

@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';    

h1 {
    text-align: center;
}

.col-md-6.reserveDetail {
    //margin: -1.25rem 0 -1.25rem -1.25rem;
    // background: #5dcfe3;
    color:#fff;
    //padding: 1.25rem;
}

.qrCode {
    display: block;
    margin: 1rem auto;
    width: 60%;
}

.qrCode button {
    display: block;
    margin: 1rem auto;
}

.btn-type-bg h1 i {
    color: green;
}

// nb-card.no-padding nb-card-body {
//     //padding: 0;
// }


.bg_toast{
background-color: rgba(0, 0, 0, .4)
}


    nb-card-footer {
      padding-bottom: 0.25rem;
  
      button {
        @include nb-ltr(margin, 0 1rem 1rem 0);
        @include nb-rtl(margin, 0 0 1rem 1rem);
      }
    }
  
    /* stylelint-disable */
    toaster-container /deep/ {
      #toast-container .toast-close-button {
        right: 0;
      }
    }
    /* stylelint-enable */
  
    @include media-breakpoint-down(xs) {
      .dropdown-toggle {
        font-size: 0.75rem;
      }
    }
  