<div class="row">
        <div class="col-md-1" >
                <div>
                        <button class="btn btn-success" type="button" (click)="carparking()">เข้าสู้หน้าเลือกระบบการจองที่จองรถ</button>
                 </div>
        </div>
        <div class="col-md-2" ></div>
        <div class="col-md-1" >
                <div>
                        <button class="btn btn-primary" type="button" (click)="history()">ประวัติการจอง</button>
                 </div>
        </div>
        <div class="col-md-2" ></div>
</div>
